@model MyRestaurant.Models.UserCategory

@{
    ViewData["Title"] = "Details";
    Layout = "~/views/shared/AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UserCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgFile)
        </dt>

        <dd class="col-sm-10">
            <img src=@Url.Content("~/Imges/" + Model.ImagePath) asp-append-version=true width="100" height="100" /> ;
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
